:org.apache.felix.configadmin.revision:=L"6"
felix.fileinstall.filename="file:/C:/Users/Eisbaer/openhab/userdata/etc/org.apache.karaf.kar.cfg"
karStorage="C:\\Users\\Eisbaer\\openhab\\userdata/tmp/kar"
noAutoRefreshBundles="false"
noAutoStartBundles="false"
service.bundleLocation="?"
service.pid="org.apache.karaf.kar"
